/* ===================== Reset ===================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita que elementos "estourem" horizontalmente */
}

/* ===================== Header ===================== */

#header{
  background-color: rgb(77, 96, 118);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between; /* espaço entre marca e menu */
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  height: 90px;
  transition: top 0.3s ease;
}

#logo_container{
  width: 10rem;
  height: 5rem;
}

#logo_strike{
  width: 100%;
  height: 100%;
  object-fit: cover
}


.menu {

  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Manter aqui! */
  gap: 40px; /* Espaçamento entre os itens do menu */
  margin: 0;
  list-style: none;
}

.menu li a,
.menu li {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: black;
    transition: color 0.3s;
    margin: 0;
}

.menu li:hover a,
.menu li:hover .material-symbols-outlined {
    color: rgb(222, 222, 222);
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 24px;
    color: black;
    transition: color 0.3s;
}

.modal {
  display: none; /* escondido por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* para rolagem se necessário */
  background-color: rgba(0,0,0,0.6); /* fundo escuro */
  text-align: center;
  justify-content: center;
}

.modal-conteudo {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  justify-content: center;
  text-align: center;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: lighter;
  cursor: pointer;
  font-size: small;
}

.fechar:hover {
  color: #000;
}

#lista-sacola div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
/* ===================== Conteúdo principal ===================== */
main {
  padding-top: 80px;
}

.marca1 {
  font-size: 50pt;
  color: rgb(72, 243, 234);
  background-color: rgba(243, 45, 10, 0.8);
  padding: 10px;
  border-radius: 0 50px 50px 0;
  cursor: default;
  max-width: 90%;

}
a{
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  width: 100%;
  max-width: 800px;

}
#admin-panel {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  max-width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#admin-panel h2 {
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
}
#admin-panel p {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
}

.admin-actions {
  position: relative;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  max-width: 100%;
}
.admin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px ;
  background-color:darkslategrey;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 150px;
  text-align: center;

}

.admin-button span {
  margin-top: 15px;
  font-size: 32pt;
  vertical-align: middle;
}
.admin-button p {
  margin-top: 10px;
  font-size: 14pt;
  font-weight: normal;
}

.admin-button:hover {
  background-color: slategray;
}


.placeholder-image {
  width: 250px;
  height: 250px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  color: #888;
  font-size: 16px;
  text-align: center;
}

.no-image{
  border-radius: 100%;
  font-size: 100pt;
  color: #aaa;
  user-select: none;
  background-color: #8a8a8a;
  padding: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Produto{
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  margin-top:20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  max-width: 100%;
}

#Feminino{
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  margin-top:20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  max-width: 100%;
}

#Masculino{
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  margin-top:20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  max-width: 100%;
}

footer{
  display: flex;
  background-color: #333;
  align-items: center;
  color: white;
  height: 40px;
  padding: 40px;
}

footer p{
  color: white;
}

/* ===================== Produtos ======================= */

.product-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  width: max-content;
  padding: 10px;
}

.product-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.product-container{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 0 100px 0 100px;
}

.product-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 200px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;


}

.product-card img {
  max-width: 250px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover; 
}

.product-card h4 {
  color: #333;
  margin-bottom: 10px;
}

.product-card p {
  position: relative;
  font-size: 1.1em;
  color: #28a745;
  font-weight: bold;
  margin-bottom: 15px;
}

.anterior, .proximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: large;
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
  transition: ease 0.3s;
}

.anterior:hover, .proximo:hover{
  background-color: #8a8a8a;
  color: #f9f9f9;
}
.anterior {
  left: 5px;
}
.proximo {
  right: 5px;
}


/* ===================== Background ===================== */

#capa{
  margin-bottom: 20px;
}

.slide-overlay {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 10%;
  left: 95%;
  color: white;
  background-color: rgb(222, 222, 222);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

.slide-overlay:hover {
  background-color: #8a8a8a;

}
.slide-overlay .material-symbols-outlined {
  font-size: 24pt;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
}
.slide-overlay:hover .material-symbols-outlined {
  color: #f9f9f9;
}
.slider {
 position: relative;
 width: 100%;
 max-width: 100vw;
 overflow: hidden;
 margin: auto;
}

.slides {
 display: flex;
 transition: transform 0.5s ease-in-out;
 width: 100%;
}

.slide {
 min-width: 100%;
 display: block;
}


/* ===================== Tipografia ===================== */
h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: x-large;
  margin-left: 30px;
  color: rgb(0, 0, 0);
}

/* ===================== Botão de finalizar compra ===================== */
#botao_finalizar{
  position: relative;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 15px;
  transition: all .35s;
  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  left: 10%;
  right: 9%;
}

#botao_finalizar span{
  position: relative;
  z-index:2;
  font-family: 'Oswald', sans-serif;
}

#botao_finalizar:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(79,79,79);
  transition: all .35s;
  border-radius: 4px; 
}

#botao_finalizar:hover{
  color: #ffffff;
}

#botao_finalizar:hover::after{
  width: 100%;
}

/* ===================== total da compra ===================== */
#total-sacola{
  font-family: 'Oswald', sans-serif;
}
h4{
  font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Oswald', sans-serif;
}

/* ===================== Botão de comprar  ===================== */

#botao_compra{
  position: relative;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 15px;
  transition: all .35s;
  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  left: 2.3rem;
}

#botao_compra span{
  position: relative;
  z-index:2;
  font-family: 'Oswald', sans-serif;
}

#botao_compra:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(79,79,79);
  transition: all .35s;
  border-radius: 4px; 
}

#botao_compra:hover{
  color: #ffffff;
}

#botao_compra:hover::after{
  width: 100%;
}

/* ================ Logo ================*/

#logo_shoele{
  width: 200px;
  
}
#header2{
  background-color: rgb(77, 96, 118);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between; /* espaço entre marca e menu */
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  height: 90px;
  transition: top 0.3s ease;
}
