html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita que elementos "estourem" horizontalmente */
  font-family: Arial;
  background-color: #e4e0e0;
  box-sizing: border-box
}
Header{
background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  height: 100px;
  transition: top 0.3s ease;
}
#logo_container{
  width: 10rem;
  height: 5rem;
}

#logo_strike{
  width: 100%;
  height: 100%;
  object-fit: cover
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding:15px;
  align-items: center;
  gap: 40px; 
  margin: 0 ;
  list-style: none;
}

.menu li a,
.menu li {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: black;
    transition: color 0.3s;
    margin: 0;
}

.menu li:hover a,
.menu li:hover .material-symbols-outlined {
    color: rgb(222, 222, 222);
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 24px;
    color: black;
    transition: color 0.3s;
}

#admin-estoque{
    padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin-top:10%;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  max-width: 100%;
  background-color: #eeeeee;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  flex-wrap: wrap;
}

form{
    margin: auto;
    padding: 15px;
    background-color: #ffffff;
    width: 500px;
    
}
