<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/strike_simb.png') }}" type="image/x-icon">
    
    
</head>
<body>
    <!--<header id="header">
        <div id="logo_container">
            <img src="{{ url_for('static', filename='Img/strike.png') }}" alt="Logo da empresa" id="logo_strike">
        </div>
        <nav>
            <ul class="menu">
                
                <li>
                    <a href="/logout">
                        <span class="material-symbols-outlined" title="Saída">logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>-->
    <main class="container">
        <div id="product-details">
            {% if imagens %}
                <h2>Imagens do Produto</h2>
                <div class="product-gallery">
                    {% for imagem in imagens %}
                        <div class="contrast-img">
                            <!--<img src="{{ url_for('static', filename='uploads/produtos/' + imagem.arquivo) }}" alt="{{ produto.nome }}" title="{{ produto.nome}}">-->
                        </div>
                        <div class="gallery-thumbnails">
                            <img src="{{url_for('static', filename='uploads/produtos/' + imagem.arquivo)}}" alt="imagem.arquivo">

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-images">
                    <a href="/admin/editar/{{ id }}/adicionar-imagem" class="add-image-link">
                        <span > + </span>
                    </a>
                </div>
            {% endif %}
            <div class='product-info'>
                <p class=""></p>
            </div>
        </div>

    </main>
</body>
</html>