<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/strike_simb.png') }}" type="image/x-icon">
    
    
</head>
<body>
    <header id="header">
        <div id="logo_container">
            <img src="{{ url_for('static', filename='Img/strike.png') }}" alt="Logo da empresa" id="logo_strike">
        </div>
        <nav>
            <ul class="menu">
                
                <li>
                    <a href="/logout">
                        <span class="material-symbols-outlined" title="Saída">logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="edit-image-product">
            {% if imagens %}
                <h2>Imagens do Produto</h2>
                <div class="image-gallery">
                    {% for imagem in imagens %}
                        <div class="image-item">
                            <img src="{{ url_for('static', filename='uploads/' ~ imagem.arquivo) }}" alt="Imagem do Produto" class="product-image">
                            <form action="{{ url_for('deletar_imagem_produto', id=imagem.produto_id, imagem_id=imagem.id) }}" method="post">
                                <button type="submit" class="delete-button">Deletar Imagem</button>
                            </form>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-images">
                    <a href="/admin/editar/{{ id }}/adicionar-imagem" class="add-image-link">
                        <span > + </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </main>
</body>
</html>