<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoelé - Login</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/strike_simb.png') }}" type="image/x-icon">
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div id="form-container">
      <div id="fechar-container">
        <a href="/"><span class="fechar">&times;</span></a>
      </div>
      <div id="logo_container">
          <a href="/"><img src= "{{ url_for('static', filename='Img/strike.png') }}" alt="Logo da empresa" id="logo_strike"></a>
        </div>
        <form action="/login" method="post">
            <label class="fonte-menu">Você é:</label>

            <select id="usuario" name="usuario" required>
                <option value="None">          </option>
                <option value="Cliente">Cliente</option>
                <option value="Administrador">Administrador</option>
            </select><br><br>

            <label class="fonte-menu">Email:</label><br>
            <input type="email" class="input-field" name="email" placeholder="Digite seu email"><br><br>
            
            <label class="fonte-menu">Senha:</label><br>
            <input type="password" id="input-field-password" name="senha" placeholder="Digite sua senha" required>

            <span class="material-symbols-outlined" id="togglePassword" title="Mostrar senha"> visibility </span><br>

            <a href="{{ url_for('up_senha') }}" id="up_pw">Esqueceu a senha?</a>
            <a id="c_account" href="{{ url_for('cadastro') }}"> Cadastre-se aqui</a><br><br>
            

            <button type="submit" class="button"><span class="fonte-menu">Enviar</span></button>

        </form>
    </div>
</body>
<script>
const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#input-field-password');
togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.textContent = type === 'password' ? 'visibility' : 'visibility_off';
    // update the title attribute
    this.title = type === 'password' ? 'Mostrar senha' : 'Ocultar senha';
});
</script>
</html>
